* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(212, 45%, 89%);
}

.component-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;

  max-width: 28rem;

  background-color: hsl(0, 0%, 100%);
  border-radius: 2rem;
  padding: 1.5rem;
  margin: 5rem auto;
  text-align: center;

  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.02);
}

.component-qr-image {
  max-width: 100%;
  border-radius: 2rem;
}

.component-title {
  font-size: 2.2rem;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}

.component-text {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color: hsl(220, 15%, 55%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
